<?php
/**
 * @package Wrapper Git.
 * @author: A.A.Treitjak
 * @copyright: 2012 - 2013 BelVG.com
 */
?>
<?php /* @var $this Belvg_Wrappergit_Block_Adminhtml_Tools */ ?>
<button name="status" onclick="window.location.href = '<?php echo $this->getUrl('*/*/status') ?>';">Status</button>
<button name="commit" onclick="window.location.href = '<?php echo $this->getUrl('*/*/commit') ?>';">Commit</button>
<button name="push" onclick="window.location.href = '<?php echo $this->getUrl('*/*/push') ?>';">Push</button>
<form name="command" id="wrappergitCommand" method="post" action="<?php echo $this->getUrl('*/*/command') ?>">
    <span>git </span>
    <input name="command" value="" size="100" placeholder="Insert git command here ..." >
    <button name="command" onclick="$('wrappergitCommand').submit();">Run</button>
    <?php echo $this->getBlockHtml('formkey') ?>
</form>

