<?php
/**
 * @package Wrapper Git.
 * @author: A.A.Treitjak
 * @copyright: 2012 - 2013 BelVG.com
 */
?>
<style>
    .wrappergit-console {
        background-color: black;
        width: 100%;
        height: 700px;
        color: lawngreen;
        font-family: mono;
        font-size: 12px;
        padding: 10px;
        cursor: text;
        overflow: scroll;
    }
</style>
<?php /* @var $this Belvg_Wrappergit_Block_Adminhtml_Tools */ ?>
<div class="wrappergit-panel">
    <?php echo $this->getChildHtml('wrappergit.panel') ?>
</div>
<div class="wrappergit-console">
    <?php echo $this->getOutput(); ?>
</div>
